.banner {
	padding: 150px 0 100px;
	height: max-content;
	display: grid;
	gap: 30px;
	grid-template-columns: 2fr 1fr;
	&-inner {
		& h1 {
			color: #000000;
			leading-trim: both;
			text-edge: cap;
			font-family: Inter;
			font-size: 86px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			margin-bottom: 30px;
		}

		& p {
			color: #061b2e;
			font-family: Gilroy;
			font-size: 36px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			max-width: 583px;
			margin-bottom: 30px;
		}
	}
	&-img {
		background: url('/public/ill.png') center no-repeat;
		height: 475px;
		width: 471px;
		margin: 70px 0 0;
		background-size: cover;
	}
	&-btn {
		display: flex;
		align-items: center;
		gap: 5px;
		font-size: 20px;
		transition: all 0.3s ease-in-out;
		&:hover {
			gap: 10px;
		}
	}
}

@media (max-width: 1181px) {
	.banner {
		display: block;
		&-inner {
			text-align: center;
			& p {
				margin: 0 auto 46px;
			}
			& h1 {
				font-size: 76px;
				max-width: 680px;
				margin: 0 auto 46px;
			}
		}
		&-btn {
			justify-content: center;
		}
		&-img {
			margin: 46px auto 0;
		}
	}
}

@media (max-width: 769px) {
	.banner {
		height: max-content;
		&-btn {
			justify-content: center;
		}
		&-inner {
			& h1 {
				color: #000000;
				leading-trim: both;
				text-edge: cap;
				font-family: Inter;
				font-size: 50px;
				margin: 0 auto 46px;
			}
			& p {
				color: #061b2e;
				font-family: Gilroy;
				font-size: 18px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				max-width: 583px;
			}
		}
	}
}

@media (max-width: 522px) {
	.banner {
		&-inner {
			& p {
				color: #061b2e;
				font-family: Gilroy;
				font-size: 15px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				max-width: 300px;
				text-align: center;
			}
		}
		&-img {
			height: 305px;
			width: 301px;
		}
	}
}

@media (max-width: 345px) {
	.banner-inner h1 {
		color: #000000;
		leading-trim: both;
		text-edge: cap;
		font-family: Inter;
		font-size: 40px;
		margin: 0 auto 46px;
	}
	.banner-img {
		height: 285px;
		width: 281px;
	}
}
