.home {
}

.home-flex {
	position: relative;
	display: block;
	height: 100vh;
	margin: 0 0 50px;
}

.home-inner {
	display: grid;
	gap: 46px;
	text-align: start;
}

.home-inner h1 {
	width: 484px;
	color: #000000;
	leading-trim: both;
	text-edge: cap;
	font-family: Inter;
	font-size: 60px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.home-inner h1 span {
	color: #000;
}

.home-inner p {
	color: #061b2e;
	font-family: Gilroy;
	font-size: 26px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	max-width: 583px;
}

.home-img {
	background: url('/public/ill.png') no-repeat;
	height: 475px;
	width: 471px;
	position: absolute;
	right: 1%;
	top: 15%;
}

.home-btn {
	display: flex;
	align-items: center;
	gap: 5px;
	transition: all 0.3s ease-in-out;
}

.home-btn:hover {
	gap: 10px;
}
