.home {
	padding: 100px 0 0;
}

.home-flex {
	position: relative;
	display: block;
	height: 100vh;
	margin: 0 0 50px;
}

.home-inner {
	display: grid;
	gap: 46px;
	text-align: start;
}

.home-inner h1 {
	color: #061b2e;
	leading-trim: both;
	text-edge: cap;
	font-family: Inter;
	font-size: 96px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.home-inner h1 span {
	color: #000;
}

.home-inner p {
	color: #061b2e;
	font-family: Gilroy;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	max-width: 583px;
}

.home-img {
	background: url('/public/ill.png') no-repeat;
	height: 475px;
	width: 471px;
	position: absolute;
	right: 1%;
	top: 15%;
}

.home-btn {
	display: inline-flex;
	align-items: center;
	gap: 5px;
	transition: all 0.3s ease-in-out;
}

.home-btn:hover {
	gap: 10px;
}

.home-project {
	text-align: center;
	margin: 50px;
}

.home-project__title {
	color: #061b2e;
	leading-trim: both;
	text-edge: cap;
	font-family: Inter;
	font-size: 56px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
}

.home-project__subtitle {
	color: #000;
	leading-trim: both;
	text-edge: cap;
	font-family: Inter;
	font-size: 22px;
	font-style: normal;
	line-height: normal;
	text-transform: uppercase;
}

.home-case {
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	z-index: 10;
	max-width: 392px;
	height: 470px;
	background-color: #00000000;
}

.home-case:hover .home-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #00000034;
	z-index: 40;
}

.home-case:hover .home-case__img {
	transform: scale(1.25);
}

.home-case:hover .home-case__name {
	left: 24px;
}
.home-case:hover .home-case__type {
	left: 24px;
}

.home-case__img {
	transition: all 0.5s ease-in-out;
}

.home-case__type {
	position: absolute;
	bottom: 50px;
	left: -500px;
	transition: all 0.5s ease-in-out;
	z-index: 50;
	font-size: 28px;
}

.home-case__name {
	transition: all 0.7s ease-in-out;
	position: absolute;
	bottom: 24px;
	left: -500px;
	z-index: 50;
	font-size: 22px;
}
.home-case__flex {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(3, 1fr);
	margin: 56px 0;
}

@media (max-width: 1180px) {
	.home-case__flex {
		display: flex;
		gap: 30px;
		justify-content: space-around;
		flex-wrap: wrap;
		margin: 56px 0;
	}
	.home-flex {
		position: relative;
		display: grid;
		justify-content: center;
		gap: 0;
		height: 170vh;
	}
	.home-inner {
		display: grid;
		gap: 16px;
		text-align: center;
	}
	.home-img {
		position: relative;
		margin: 0 auto;
	}
	.home-inner p {
		margin: 0 auto;
	}
}

@media (max-width: 769px) {
	.home-inner h1 {
		color: #061b2e;
		leading-trim: both;
		text-edge: cap;
		font-family: Inter;
		font-size: 66px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	.home-flex {
		position: relative;
		display: grid;
		justify-content: center;
		gap: 0;
		height: 100vh;
	}

	.home-inner {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		height: max-content;
	}

	.home-inner h1 span {
		color: #000;
	}

	.home-inner p {
		color: #061b2e;
		font-family: Gilroy;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		max-width: 583px;
	}
	.home-project__title {
		color: #061b2e;
		leading-trim: both;
		text-edge: cap;
		font-family: Inter;
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;
	}

	.home-project__subtitle {
		color: #000;
		leading-trim: both;
		text-edge: cap;
		font-family: Inter;
		font-size: 20px;
		font-style: normal;
		line-height: normal;
		text-transform: uppercase;
	}
}

@media (max-width: 522px) {
	.home-inner h1 {
		color: #061b2e;
		leading-trim: both;
		text-edge: cap;
		font-family: Inter;
		font-size: 40px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.home-inner h1 span {
		color: #000;
	}

	.home-inner p {
		color: #061b2e;
		font-family: Gilroy;
		font-size: 15px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		max-width: 583px;
	}
	.home-project__title {
		color: #061b2e;
		leading-trim: both;
		text-edge: cap;
		font-family: Inter;
		font-size: 26px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;
	}

	.home-img {
		width: 311px;
		height: 315px;
		background-size: cover;
	}

	.home-project__subtitle {
		color: #000;
		leading-trim: both;
		text-edge: cap;
		font-family: Inter;
		font-size: 15px;
		font-style: normal;
		line-height: normal;
		text-transform: uppercase;
	}
}
