.home-project {
	text-align: center;
	margin: 50px 0;
}

.home-project__title {
	color: #000000;
	leading-trim: both;
	text-edge: cap;
	font-family: Inter;
	font-size: 46px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.home-project__subtitle {
	color: #061b2e;
	leading-trim: both;
	text-edge: cap;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	line-height: normal;
}

.home-case {
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	z-index: 10;
	max-width: 392px;
	height: 470px;
	background-color: #00000000;
}

.home-case:hover .home-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #00000034;
	z-index: 40;
}

.home-case:hover .home-case__img {
	transform: scale(1.25);
}

.home-case:hover .home-case__name {
	left: 24px;
}
.home-case:hover .home-case__type {
	left: 24px;
}

.home-case__img {
	transition: all 0.5s ease-in-out;
}

.home-case__type {
	position: absolute;
	bottom: 50px;
	left: -500px;
	transition: all 0.5s ease-in-out;
	z-index: 50;
	font-size: 28px;
}

.home-case__name {
	transition: all 0.7s ease-in-out;
	position: absolute;
	bottom: 24px;
	left: -500px;
	z-index: 50;
	font-size: 22px;
}
.home-case__flex {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(3, 1fr);
	margin: 56px 0;
}

@media (max-width: 1180px) {
	.home-case__flex {
		display: flex;
		gap: 30px;
		justify-content: space-around;
		flex-wrap: wrap;
		margin: 56px 0;
	}
	.home-flex {
		position: relative;
		display: grid;
		justify-content: center;
		gap: 0;
		height: 170vh;
	}
	.home-inner {
		display: grid;
		gap: 16px;
		text-align: center;
	}
	.home-img {
		display: none;
	}
	.home-inner p {
		margin: 0 auto;
	}
}

@media (max-width: 769px) {
	.home-inner h1 {
		color: #000000;
		leading-trim: both;
		text-edge: cap;
		font-family: Inter;
		font-size: 56px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-align: center;
		margin: 0 auto;
	}
	.home-btn {
		justify-content: center;
	}
	.home-flex {
		position: relative;
		display: grid;
		justify-content: center;
		gap: 0;
		height: auto;
	}

	.home-inner {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		height: max-content;
	}

	.home-inner p {
		color: #061b2e;
		font-family: Gilroy;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		max-width: 583px;
	}
	.home-project__title {
		color: #000000;
		leading-trim: both;
		text-edge: cap;
		font-family: Inter;
		font-size: 46px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}

	.home-project__subtitle {
		color: #000;
		leading-trim: both;
		text-edge: cap;
		font-family: Inter;
		font-size: 20px;
		font-style: normal;
		line-height: normal;
	}
}

@media (max-width: 522px) {
	.home-inner h1 {
		color: #000000;
		leading-trim: both;
		text-edge: cap;
		font-family: Inter;
		font-size: 50px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		max-width: 300px;
		margin: 0 auto;
	}

	.home-inner p {
		color: #061b2e;
		font-family: Gilroy;
		font-size: 15px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		max-width: 300px;
		text-align: center;
	}
	.home-project__title {
		text-edge: cap;
		font-family: Inter;
		font-size: 46px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		color: #000;
	}

	.home-project__subtitle {
		color: #000;
		leading-trim: both;
		text-edge: cap;
		font-family: Inter;
		font-size: 15px;
		font-style: normal;
		line-height: normal;
	}
}
