.stages {
	padding: 50px 0;
	text-align: center;
}
.stages-title {
	color: #000000;
	leading-trim: both;
	text-edge: cap;
	font-family: Inter;
	font-size: 46px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.stages-subtitle {
	color: #061b2e;
	leading-trim: both;
	text-edge: cap;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	line-height: normal;
}

.stages-icons {
	display: flex;
	justify-content: space-around;
	margin: 56px auto;
	gap: 30px;
	position: relative;
}

.stages-icons::after {
	content: '';
	width: 100%;
	height: 3px;
	background: linear-gradient(
		90deg,
		rgba(0, 0, 0, 0) 0.97%,
		#000000 37.19%,
		#000000 64.03%,
		rgba(0, 0, 0, 0) 98.61%
	);
	position: absolute;
	left: 0;
	top: 35%;
	z-index: -1;
}

.stages-item__text {
	color: #061b2e;
	font-weight: 600;
}

@media (max-width: 450px) {
	.stages-icons {
		display: grid;
	}
	.stages-icons::after {
		content: '';
		width: 120%;
		height: 6px;
		transform: rotate(90deg);
		background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0) 0.97%,
			#000000 37.19%,
			#000000 64.03%,
			rgba(0, 0, 0, 0) 98.61%
		);
		position: absolute;
		left: -10%;
		top: 45%;
		z-index: -1;
	}
}
