.case {
	text-align: center;
	margin: 0 0 50px;
	&-item {
		border-radius: 20px;
		overflow: hidden;
		position: relative;
		z-index: 10;
		height: 400px;
		background-color: #00000000;
		&:hover &__overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: #00000034;
			z-index: 40;
		}
		&:hover &__img {
			transform: scale(1.25);
		}
		&:hover &__name,
		&:hover &__text {
			left: 24px;
		}
		&__img {
			max-width: 100%;
			height: 400px;
			transform: scale(1.15);
			transition: all 0.5s ease-in-out;
		}
		&__text,
		&__name {
			position: absolute;
			left: -5000px;
			z-index: 50;
			color: #fff;
		}
		&__text {
			bottom: 24px;
			transition: all 0.7s ease-in-out;
			font-size: 22px;
		}
		&__name {
			bottom: 64px;
			transition: all 0.5s ease-in-out;
			font-size: 26px;
		}
	}
	&-flex {
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(2, 1fr);
		margin-top: 56px;
	}
}
.img {
	width: 300px;
	height: 300px;
}

.detail-offer {
	margin-top: 30px;
	& h1 {
		font-size: 33px;
		margin-bottom: 20px;
	}
	& p {
		margin-bottom: 40px;
	}
}

@media (max-width: 1180px) {
	.case-flex {
		display: grid;
		gap: 30px;
		grid-template-columns: repeat(2, 1fr);
		margin: 56px auto 0;
	}
}

@media (max-width: 769px) {
	.case {
		&-subtitle {
			font-size: 20px;
		}
		&-flex {
			display: grid;
			gap: 30px;
			grid-template-columns: minmax(290px, 390px);
			justify-content: center;
			margin: 56px auto;
		}
		&-item {
			max-width: 390px;
		}
	}
}

@media (max-width: 522px) {
	.case {
		&-title {
			font-size: 46px;
		}
		// &-flex {
		// 	display: grid;
		// 	gap: 30px;
		// 	grid-template-columns: 1fr;
		// 	justify-content: center;
		// 	margin: 56px auto;
		// }
		// &-item {
		// 	max-width: auto;
		// 	height: 400px;
		// }

		&-subtitle {
			font-size: 15px;
		}
	}
}
